/* for card layout */
.gallery-row {
    margin-bottom: 2rem;
}

.card-img-overlay a{ /* changes the style of a only when it's inside of card-body */
    text-decoration: none;
    color: whitesmoke;
}

.card-img-overlay a:hover{ /* changes the style of a ON HOVER and only when it's inside of card-body */
    color: darkturquoise;
    
}

/*background font & image*/
body{
   font-family: 'Happy Monkey','Nunito', 'Lato','sans-serif';
   background:url(/resources/_gen/images/bk_image3.png);
   background-size:cover;
   background-position: center;
   background-repeat: no-repeat;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   /* box-shadow: inset 0 0 0 1000px rgba(255, 254, 254, .55);*/
}

#nav1{  
    background-color:rgb(253, 247, 247); /*whichever you want*/
    opacity: .90; 
    filter:(opacity=50);       
}
#navbarNav a:hover{
    color: darkturquoise;
}



/* */
